/* g */

.user-card {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: fit-content;
  border: 1px solid black;
  padding: 30px;
  margin: 20px;
}

.page-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

.avatar-foto {
  height: 200px;
  width: 200px;
}
